body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: auto;
    width: 100%;
    min-height: 100vh;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.info h1 {
    margin: 10px 0 5px;
    font-size: 28px;
}

.info h2 {
    font-size: 18px;
    color: gray;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.social-card {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 10px;
}




.featured {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacts {
    text-align: center;
    margin-top: 30px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contact-item {
    background: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
