<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calamity Reality</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="profile">
                <img src="/static/2s7M_PZjznI.jpg" alt="Profile Picture" class="avatar">
                <div class="info">
                    <h1>Bogodukhov Nikita</h1>
                    <h2>Information Security specialist</h2>
                    <p>I am an ITMO student in St. Petersburg. I am studying in the field of Information Security, trying to develop in various directions. My knowledge of various IT industries helps me better protect companies from computer attacks.</p>
                </div>
            </div>
        </header>
        
        <section class="social-links">
            <div class="social-card instagram"><img src="/static/instagram.jpg" alt="Instagram" class="avatar">Instagram</div>
            <div class="social-card steam"><img src="/static/Steam_icon_logo.svg.png" alt="Steam" class="avatar">Polarity</div>
            <div class="social-card discord"><img src="/static/discord.png" alt="Discord" class="avatar">@mygivara </div>
            <div class="social-card lol"><img src="/static/riotlogo.png" alt="Riot" class="avatar">Polarity#unlky </div>
        </section>
        

        
        <section class="contacts">
            <h3>Connect with Me</h3>
            <div class="contact-info">
                <div class="contact-item phone">📞 +1234567890</div>
                <div class="contact-item email">📧 gincheki@gmail.com</div>
            </div>
        </section>
    </div>
</body>
</html>
